

@font-face {
  font-family: "Computer Modern";
  src: url('cmunbmr.otf');
}


body {
    margin-left: 18%;
    margin-right: 18%;
    text-align:center;
    font-size: 15px;
    font-family: "Computer Modern";
  }

h1 {
  margin-bottom:10px
  text-align: center;
  font-size: 36px;
  opacity: 0.7;
}

h2 {
  margin-right:10px;
  display:inline-block;
  text-align: center;
  font-size: 25px;
  /* opacity: 0.5; */

}

a {
  text-decoration:none
}

a.inactiveLink {
   pointer-events: none;
   cursor: default;
}

p.blog {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 70%;
}

p.shrug{
  font-size: 900%;
  line-height: 1%;
  height: 1%;
}

p.thanks{
  margin-bottom: 3cm;
}

#profile{
  width:20%;
  height:auto;
}

img.blog{
  width: 80%;
  height: auto;
}

div.img_blog{
  margin:5%;
  height: 50%;
}

div.img_row {
  display: flex;
  align-items: center;
}

div.img_column {
  flex: 50%;
  padding: 5px;
}

#img_airy{
  width: 10%;
  height: auto;
}


@media (max-width: 600px) {
  #profile{
      width: 40%;
      height: auto;
    }

  p.blog {
    font-size: 5vw;
    margin-left: -20%;
    margin-right: 0%;
    text-align: left;
    width: 140%;
    }
  img.blog{
    margin-left: -20%;
    margin-right: 0%;
    width: 140%;
    height: auto;
  }

  div.img_column {
    width: 140%;
  }
}
