

@font-face {
  font-family: "Computer Modern";
  src: url('cmunbmr.otf');
}


body {
    margin-left: 18%;
    margin-right: 18%;
    text-align:center;
    font-size: 15px;
    font-family: "Computer Modern";
  }

h1 {
  margin-bottom:10px
  text-align: center;
  font-size: 36px;
}

h2 {
  margin-right:10px;
  display:inline-block;
  text-align: center;
  font-size: 25px;
}

a {
  text-decoration:none
}

a.inactiveLink {
   pointer-events: none;
   cursor: default;
}

p.blog {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 70%;
}

@media (max-width: 600px) {
  img{
      width: 60%;
      height: auto;
    }

  p.blog {
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
    width: 100%;
    }
}

p.shrug{
  font-size: 900%;
  line-height: 1%;
  height: 1%;
}
